<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head  th:replace="base/common :: meta_head('HOME | Programing Coaching',~{::link},~{::script})">
      <link rel="stylesheet" th:href="@{/css/top.css}" />
      <script type="text/javascript" th:src="@{/js/sample.js}"></script>
  </head>
  <body>
    <header th:replace="base/common :: header"></header>

    <div th:replace="base/common :: message"></div>

	
	<section class="job-bg page job-details-page">
		<div class="container">
			<div class="breadcrumb-section">
				<ol class="breadcrumb">
					<li><a href="index.html">Home</a></li>
				</ol><!-- breadcrumb -->						
				<h2 class="title">Product Detail</h2>
			</div><!-- breadcrumb -->

			<div class="banner-form banner-form-full job-list-form">
				<form action="#" class="clearfix">
					<div class="dropdown category-dropdown">						
						<a data-toggle="dropdown" href="#"><span class="change-text">Language</span> <i class="fa fa-angle-down"></i></a>
						<ul class="dropdown-menu category-change">
							<li  th:each="cateogry : ${categories}"><a href="#" th:text="${cateogry.getCategoryName()}"></a></li>
						</ul>								
					</div><!-- category-change -->
					<input type="text" class="form-control" placeholder="Type your key word">
					<button type="submit" class="btn btn-primary" value="Search">Search</button>
				</form>
			</div><!-- banner-form -->

			<div class="job-details">
				<div class="section job-ad-item">
					<div class="item-info">
						<div class="item-image-box">
							<div class="item-image">
								<img src="images/ico/default-icon.png" alt="Image" class="img-fluid">
							</div><!-- item-image -->
						</div>

						<div class="ad-info">
							<span><span><a href="#" class="title">Java Coaching</a></span> @ <a href="/profile"> Kazuya Sasaki</a></span>
							<div class="ad-meta">
								<ul>
									<li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>Google Hangout/Slack</a></li>
									<li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>平日夜, 休日</a></li>
									<li><a href="#"><i class="fa fa-money" aria-hidden="true"></i>¥5,000/1month</a></li>
									<li><a href="#"><i class="fa fa-tags" aria-hidden="true"></i>Java</a></li>
									<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>3</li>
								</ul>
							</div><!-- ad-meta -->									
						</div><!-- ad-info -->
					</div><!-- item-info -->
					<div class="social-media">
						<div class="button">
							<a href="/apply" class="btn btn-primary"><i class="fa fa-briefcase" aria-hidden="true"></i>Apply</a>
							<a href="#" class="btn btn-primary bookmark"><i class="fa fa-bookmark-o" aria-hidden="true"></i>Favorite</a>
						</div>
						<ul class="share-social">
							<li>Share this ad</li>
							<li><a href="#"><i class="fab fa-facebook-square" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter-square" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fab fa-google-plus-square" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fab fa-linkedin-square" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fab fa-pinterest-square" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fab fa-tumblr-square" aria-hidden="true"></i></a></li>
						</ul>
					</div>					
				</div><!-- job-ad-item -->
				
				<div class="job-details-info">
					<div class="row">
						<div class="col-md-8">
							<div class="section job-description">
								<div class="description-info">
									<h1>Description</h1>
									<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span></p>
									<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni।</p>
								</div>					
							</div>							
						</div>
						<div class="col-md-4">
							<div class="section job-short-info">
								<h1>Other Product Info</h1>
								<ul>
									<li><span class="icon"><i class="fa fa-book-open" aria-hidden="true"></i></span>Java Basic1</li>
									<li><span class="icon"><i class="fa fa-book-open" aria-hidden="true"></i></span> Java Basic2</li>
									<li><span class="icon"><i class="fa fa-book-open" aria-hidden="true"></i></span>Java Basic3</li>
									<li><span class="icon"><i class="fa fa-book-open" aria-hidden="true"></i></span>Python Basic1</li>
									<li><span class="icon"><i class="fa fa-book-open" aria-hidden="true"></i></span>Python Basic1</li>
								</ul>
							</div>
						</div>
					</div><!-- row -->					
				</div><!-- job-details-info -->				
			</div><!-- job-details -->
		</div><!-- container -->
	</section><!-- job-details-page -->
	

    <footer th:replace="base/common :: footer"></footer>
	
    <div th:replace="base/common :: end_script"></div>
  </body>
</html>