<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head  th:replace="base/common :: meta_head('HOME | Programing Coaching',~{::link},~{::script})">
      <link rel="stylesheet" th:href="@{/css/top.css}" />
      <script type="text/javascript" th:src="@{/js/sample.js}"></script>
  </head>
  <body>
    <header th:replace="base/common :: header"></header>

    <div th:replace="base/common :: message"></div>

	<section class=" job-bg ad-details-page">
		<div class="container">
			<div class="breadcrumb-section">
				<h2 class="title">Apply Form</h2>
			</div><!-- banner -->
			<div class="job-postdetails">
			
				<div class="section job-ad-item">
					<div class="item-info">
						<div class="item-image-box">
							<div class="item-image">
								<img src="images/ico/default-icon.png" alt="Image" class="img-fluid">
							</div><!-- item-image -->
						</div>
						<div class="ad-info">
							<span>@<a href="#" class="title"> Kazuya Sasaki</a></span>
							<div class="ad-meta">
								<ul class="teaching-category">
									<li><a href="#"><i class="fa fa-tags" aria-hidden="true"></i>Java</a></li>
									<li><a href="#"><i class="fa fa-tags" aria-hidden="true"></i>Python</a></li>
									<li><i class="fa fa-tags" aria-hidden="true"></i>Scala</li>
									<li><a href="#"><i class="fa fa-tags" aria-hidden="true"></i>HTML/CSS</a></li>
									<li><i class="fa fa-tags" aria-hidden="true"></i>javascript</li>
									<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>3</li>
								</ul>
							</div><!-- ad-meta -->									
						</div><!-- ad-info -->
					</div><!-- item-info -->
					<div class="social-media">
						<ul class="share-social">
							<li>Share this ad</li>
							<li><a href="#"><i class="fab fa-facebook-square" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter-square" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fab fa-google-plus-square" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fab fa-linkedin-square" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fab fa-pinterest-square" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fab fa-tumblr-square" aria-hidden="true"></i></a></li>
						</ul>
					</div>		
				</div><!-- job-ad-item -->
				<div class="row">	
					<div class="col-lg-12">
						<form action="#">
							<fieldset>
								<div class="section postdetails">
									<h4>Apply Form<span class="pull-right">* Requeire Fields</span></h4>
									<div class="row form-group">
										<label class="col-sm-3 label-title">Title</label>
										<div class="col-sm-9">
											<p>Java Basic 1</p>
										</div>
									</div>
									<div class="row form-group">
										<label class="col-sm-3 label-title">Description</label>
										<div class="col-sm-9">
											<p>Java Basic 1</p>
										</div>
									</div>
									<div class="row form-group">
										<label class="col-sm-3 label-title">Category</label>
										<div class="col-sm-9">
											<p>Java</p>
										</div>
									</div>
									<div class="row form-group">
										<label class="col-sm-3 label-title">Price</label>
										<div class="col-sm-9">
											<p>3,000円/月</p>
										</div>
									</div>
									<div class="row form-group">
										<label class="col-sm-3 label-title">Contact tools</label>
										<div class="col-sm-9">
											<p>Google Hangout/Slack</p>
										</div>
									</div>
									<div class="row form-group">
										<label class="col-sm-3 label-title">Contact Times</label>
										<div class="col-sm-9">
											<p>休日/平日夜</p>
										</div>
									</div>
								</div>			
								<div class="section">
									<div class="row form-group item-description">
										<label class="col-sm-3 label-title">Message<span class="required">*</span></label>
										<div class="col-sm-9">
											<textarea class="form-control" id="textarea" placeholder="Write few lines about your Product" rows="8"></textarea>		
										</div>
									</div>
									<div class="row characters">
										<div class="col-sm-9 col-sm-offset-3">
											<p>5000 characters left</p>
										</div>
									</div>
									<div class="row characters">
										<label for="send">
											<input type="checkbox" name="send" id="send">
											You agree to our <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a> .
										</label>
									</div>
									<button type="submit" class="btn btn-primary">Post Your Job</button>
								</div><!-- section -->	
							</fieldset>
						</form><!-- form -->
					</div>
				</div><!-- photos-ad -->
			</div><!-- postdetails -->
		</div><!-- container -->
	</section><!-- main -->
	
    <footer th:replace="base/common :: footer"></footer>
	
    <div th:replace="base/common :: end_script"></div>
  </body>
</html>