<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head  th:replace="base/common :: meta_head('HOME | Programing Coaching',~{::link},~{::script})">
      <link rel="stylesheet" th:href="@{/css/top.css}" />
      <script type="text/javascript" th:src="@{/js/sample.js}"></script>
  </head>
  <body>
    <header th:replace="base/common :: header"></header>

    <div th:replace="base/common :: message"></div>


	<section class=" job-bg ad-details-page">
		<div class="container">
			<div class="breadcrumb-section">
				<h2 class="title">Post Your Product</h2>
			</div><!-- banner -->

			<div class="job-postdetails">
				<div class="row">	
					<div class="col-lg-12">
						<form action="#">
							<fieldset>
								<div class="section postdetails">
									<h4>Post Your Product<span class="pull-right">* Requeire Fields</span></h4>
									<div class="row form-group add-title">
										<label class="col-sm-3 label-title">Category<span class="required">*</span></label>
										<div class="col-sm-9">
											<div class="dropdown category-dropdown">
												<a data-toggle="dropdown" href="#" aria-expanded="false"><span class="change-text">Select a category</span> <i class="fa fa-angle-down pull-right"></i></a>
												<ul class="dropdown-menu category-change">
													<li th:each="cateogry : ${categories}"><a href="#" th:text="${cateogry.getCategoryName()}"></a></li>
												</ul>								
											</div>
										</div>
									</div>
									<div class="row form-group">
										<label class="col-sm-3 label-title">Title<span class="required">*</span></label>
										<div class="col-sm-9">
											<input type="text" class="form-control" placeholder="ex) Java Basic Lesson">
										</div>
									</div>
									<div class="row form-group item-description">
										<label class="col-sm-3 label-title">Description<span class="required">*</span></label>
										<div class="col-sm-9">
											<textarea class="form-control" id="textarea" placeholder="Write few lines about your Product" rows="8"></textarea>		
										</div>
									</div>
									<div class="row characters">
										<div class="col-sm-9 col-sm-offset-3">
											<p>5000 characters left</p>
										</div>
									</div>	
									<div class="row form-group">
										<label class="col-sm-3 label-title">Price<span class="required">*</span></label>
										<div class="col-sm-9">
											<input type="text" class="form-control" placeholder="1000  *only number">円/月
										</div>
									</div>			
									<div class="row form-group">
										<label class="col-sm-3 label-title">Time<span class="required">*</span></label>
										<div class="checkbox agreement col-sm-9">
											<label th:for="${item}" th:each="item : ${contact_times}">
												<input type="checkbox" name="times" th:id="${item}"><span th:text="${item.getValue()}"></span>
											</label>
										</div>
									</div>
									<div class="row form-group">
										<label class="col-sm-3 label-title">Contact Tool<span class="required">*</span></label>
										<div class="checkbox agreement col-sm-9">
											<label th:for="${item}" th:each="item : ${contact_tools}">
												<input type="checkbox" name="tools" th:id="${item}"><span th:text="${item.getValue()}"></span>
											</label>
										</div>
									</div>									
									<div class="row form-group">
										<label class="col-sm-3 label-title">Published</label>
										<div class="checkbox agreement col-sm-9">
											<label th:for="isPublished">
												<input type="checkbox" name="isPublished" id="isPublished">公開する
											</label>
										</div>
									</div>									
									<button type="submit" class="btn btn-primary">Post Your Product</button>
								</div><!-- postdetails -->
																
							</fieldset>
						</form><!-- form -->	
					</div>
				</div><!-- photos-ad -->				
			</div>	
		</div><!-- container -->
	</section><!-- main -->
	
    <footer th:replace="base/common :: footer"></footer>
	
    <div th:replace="base/common :: end_script"></div>
  </body>
</html>