<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head  th:replace="base/common :: meta_head('HOME | Programing Coaching',~{::link},~{::script})">
      <link rel="stylesheet" th:href="@{/css/top.css}" />
      <script type="text/javascript" th:src="@{/js/sample.js}"></script>
  </head>
  <body>
    <header th:replace="base/common :: header"></header>

    <div th:replace="base/common :: message"></div>

	
	<section class="job-bg page job-details-page">
		<div class="container">
			<div class="breadcrumb-section">
				<ol class="breadcrumb">
					<li><a href="index.html">Home</a></li>
				</ol><!-- breadcrumb -->						
				<h2 class="title">Edit Profile</h2>
			</div><!-- breadcrumb -->

			<div class="job-details">
				<div class="section job-ad-item">
					<div class="item-info">
						<div class="item-image-box">
							<div class="item-image">
								<img src="images/ico/default-icon.png" alt="Image" class="img-fluid">
							</div><!-- item-image -->
						</div>
						<div class="ad-info">
							<span>@<a href="#" class="title"> Kazuya Sasaki</a></span>
							<div class="ad-meta">
								<ul class="teaching-category">
									<li><a href="#"><i class="fa fa-tags" aria-hidden="true"></i>Java</a></li>
									<li><a href="#"><i class="fa fa-tags" aria-hidden="true"></i>Python</a></li>
									<li><i class="fa fa-tags" aria-hidden="true"></i>Scala</li>
									<li><a href="#"><i class="fa fa-tags" aria-hidden="true"></i>HTML/CSS</a></li>
									<li><i class="fa fa-tags" aria-hidden="true"></i>javascript</li>
								</ul>
							</div><!-- ad-meta -->									
						</div><!-- ad-info -->
					</div><!-- item-info -->
				</div><!-- job-ad-item -->				
			</div><!-- job-details -->
			<div class="job-postdetails">
				<div class="row">	
					<div class="col-lg-12">
						<form action="#">
							<fieldset>
								<div class="section postdetails">
									<h4>Profile Form<span class="pull-right">* Requeire Fields</span></h4>
									<div class="row form-group">
										<label class="col-sm-3 label-title">Username</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" placeholder="FirstName FamilyName">
										</div>
									</div>
									<div class="row form-group">
										<label class="col-sm-3 label-title">Email<span class="required">*</span></label>
										<div class="col-sm-9">
											<input type="text" class="form-control" placeholder="test@rebelapp.com">
										</div>
									</div>
									<div class="row form-group">
										<label class="col-sm-3 label-title">Teaching Category</label>
										<div class="checkbox agreement col-sm-9">
											<label th:for="${cateogry.getCategoryName()}" th:each="cateogry : ${categories}">
												<input type="checkbox" name="times" th:id="${cateogry.getCategoryName()}"><span th:text="${cateogry.getCategoryName()}"></span>
											</label>
										</div>
									</div>
									<div class="row form-group item-description">
										<label class="col-sm-3 label-title">Profile Text</label>
										<div class="col-sm-9">
											<textarea class="form-control" id="textarea" placeholder="Write few lines about your Product" rows="8"></textarea>		
										</div>
									</div>
									<button type="submit" class="btn btn-primary">Update Profile</button>
								</div><!-- postdetails -->
																
							</fieldset>
						</form><!-- form -->	
					</div>
				</div><!-- photos-ad -->				
			</div>	
		</div><!-- container -->
	</section><!-- main -->
	
    <footer th:replace="base/common :: footer"></footer>
	
    <div th:replace="base/common :: end_script"></div>
  </body>
</html>