<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head  th:replace="base/common :: meta_head('403 | Programing Coaching',~{::link},~{::script})">
      <link rel="stylesheet" th:href="@{/css/top.css}" />
      <script type="text/javascript" th:src="@{/js/sample.js}"></script>
  </head>
  <body>
    <header th:replace="base/common :: header"></header>

    <div th:replace="base/common :: message"></div>
    
   	<div class="banner-job">
		<div class="banner-overlay"></div>
		<div class="container text-center">
			<h1 class="title">Permission Denied Page : error 403</h1>
			<h3>You cannot access this page.</h3>
		</div><!-- container -->
	</div><!-- banner-section -->
    
    <footer th:replace="base/common :: footer"></footer>
		
    <div th:replace="base/common :: end_script"></div>

  </body>
</html>